/* styles.css */




h3,h4,p {
  margin: 0;
  font-weight:300;
  font-size: 19;
}

body {
  background:  linear-gradient(0.09turn, #3f87a6 , #f69d3c);
  color: rgb(233, 228, 228);
  margin: 0 auto;
  padding: 0;
  width: 85%;
  font-family: 'Cursive', Courier, monospace;
}

.header{
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  height: 40px;
}
.header input {
  border-radius: 10px 10px 0 0 ;
  margin-right: 100px;
  width: 400px;
  border: none;
  font-size: 18;
  padding: 20px;
  letter-spacing: 0.4px;
}
#search:focus {
  outline: none;
}
#search-result {
  display: none;
  /* border: 2px solid #ccc; */
  background-color: rgb(255, 255, 255);
  color: black;
  overflow-y: auto;
  border-radius: 5px;
  width: 380px;
  font-size: 18;
  padding: 10px;
  margin: 1px 0 ;
  position: relative;
}

.suggestions {
  display: block;
  position: absolute;
  background: white;
  width: 380px;
  z-index: 1000;
}

.suggestion {
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.suggestion:hover,
 .suggestion.active {
  background: #2c7be5;
  color: white;
}
/* --------------------------------------- */
input[type="checkbox"].toggle {
  opacity: 0;
  position: absolute;
  cursor: pointer;
  left: -9000px;
  top: -9000px;
}
input[type="checkbox"].toggle + label {
  position: relative;
  display: flex;
  align-items: center;
  width: 100px;
}

input[type="checkbox"].toggle + label::before {
  content: "";
  width: 4em;
  height: 2em;
  background-color: #3f87a6;
  border-radius: 1em;
  margin-right: .25em;
}
input[type="checkbox"].toggle:checked + label::before {
  background-color: #3692b9;
  /* background-color: #c5952f; */

}

input[type="checkbox"].toggle + label::after {
  position: absolute;
  left: .6;
  content: "";
  width: 1.9em;
  height: 1.9em;
  background-color: #b8964d;
  border-radius: 1em;
  margin-right: .25em;
}

input[type="checkbox"].toggle:checked + label::after {
  transform:translateX(100%);
  background-color: #ac9466;
  /* background-color: #598a97; */
}

input[type="checkbox"].toggle:checked + label {
  color: black;
}

.switch-temp label i{
  font-size: 2.2em;
}


/* ----------------------------------------- */




.temperature {
  margin-top: 100px;
}
.temperature .city-name {
  font-size: 1.5rem;
}
.temperature .city-name i {
  font-size: 4rem;
}
.weather-rec {
  display: flex;
  justify-content: space-between;
}

.max-min,.feels-like ,.wind{
  display: flex;
  padding: 12px;
  border-radius: 35px;
  width: 340px;
  height: 150px;
  border:1px solid #1193ca; 
  background:  linear-gradient(0.70turn, #3f87a6, #f69d3c);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.max-min h4 {
  color: rgb(226, 209, 186);
}

.max-min h4 i{
  /* font-size: 1.1em; */
  font-weight:500;
  font-size: 1rem;
  margin: 2px;
  color:white;
}
.descriptions {
  display: flex;
  margin-top:40px ;
  justify-content: space-between;
  padding: 10;
}

.descriptions span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin:5px auto ;
} 

.weekly-forecast{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content:space-between;
  padding: 20px 0 ;
  height: 100px;  
}
.weekly-forecast .wi {
  font-size: 30px;
  /* background-image:  linear-gradient(0.09turn, #3f87a6 , #f69d3c); */
  margin: 10px 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.weekly-forecast li {
 width: 110px; 
 height: fit-content;
 list-style: none;
 background-color: rgba(0, 0, 0, 0.2); 
border-radius: 10px;
}
.weekly-forecast li p {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.weekly-forecast li .day{
  /* background-color: red; */
  display: flex;
  justify-content: center;
}
div .icon{
  justify-content: center;
  align-items: center;
}

